{% extends 'main.html' %} {% load static %} {% block contenidoQueCambia %}
<div class="container">
    <h1>Detalle Curso</h1>
    <a href="{% url 'CursoFormulario' %}" class="btn btn-primary">Agregar Curso</a>
    <a href="{% url 'BusquedaComision' %}" class="btn btn-primary">Buscar Curso</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  mb-4 w-4" style="width:18rem;height:27rem">
                    <img src="{{curso.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">{{curso.nombre}}</p>
                        <p class="card-text">{{curso.comision}}</p>
                        <p class="card-text">{{curso.codigo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>

{% endblock contenidoQueCambia %}