{% extends 'main.html' %} {% load static %} {% block contenidoQueCambia %}

<div class="container">
    <h1>Crear Entregable</h1>
    <a href="{% url 'Entregables' %}" class="btn btn-primary">Ver Entregables</a>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        Datos de formulario invalidos. Por favor, verifique los datos e intentelo de nuevo.
    </div>
    {% endif %}

    <form action="{% url 'EntregableFormulario' %}" method="POST" class="m-4">
        {% csrf_token %}
        {{miFormulario.as_div}}
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    </form>
</div>
{% endblock contenidoQueCambia %}