{% extends 'main.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="container d-flex d-flex justify-content-center align-items-center vh-100">
    <div class="card text-white bg-secondary border-white" style="max-width: 50rem;">
        <div class="card-header"><h1>Logout</h1></div>
            <div class="card-body">
                        
                <a> HASTA LUEGO !!! </a>

            </div>            
        </div>

    </div>
</div>
{% endblock contenidoQueCambia %}